@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    font-family: "Gochi Hand", cursive;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #F9F9E0;
}

button {
    color: #F9F9E0;
    background-color: #DA0C81;
    font-size: 20px;
    padding: 30px 45px;
    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px #FF90BC;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    color:#F9F9E0 ;
    background-color: #DA0C81;
    border-radius: 7px;
    box-shadow: 15px 10px #ffb6d3;
    font-size: 27px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    padding: 50px 65px;
    text-align: center;
}

#close {
    font-size: 20px;
    padding: 10px 25px;
    background-color: #F9F9E0;
    color: #DA0C81;
    box-shadow: 4px 5px #FF90BC;
}

#header {
    position: fixed;
    top: 300px;
}

ul {
    list-style-type: none;
}
